@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700|Oswald:300,400,500,600,700&amp;display=swap');


@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("fonts/Flaticon.woff2") format("woff2"),
       url("fonts/Flaticon.woff") format("woff"),
       url("fonts/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after { font-family: Flaticon;font-size: 50px;font-style: normal;}

.flaticon-wallet:before { content: "\f100"; }
.flaticon-product:before { content: "\f101"; }
.flaticon-team:before { content: "\f102"; }
.flaticon-technical-support:before { content: "\f103"; }
.flaticon-badge:before { content: "\f104"; }
body {font-family: 'Montserrat', sans-serif; color: #000;   font-size: 16px; overflow-x:hidden; background: #fff;}
ul, ol { margin:0; padding:0; } 
a, button  { -moz-transition:all 500ms ease-in-out; -ms-transition:all 500ms ease-in-out; -o-transition:all 500ms ease-in-out; -webkit-transition:all 500ms ease-in-out; text-decoration: none !important;}
a, a:focus, a:hover, a:active, input:focus, select:focus, button:focus{ outline:0}
h1, h2, h3, h4, h5, h6 {font-family: 'Montserrat', sans-serif; color: #000; margin: 0; padding: 0;}
.nav > li > a {color: #fff !important;font-size: 16px;text-transform: uppercase;font-weight: 600;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {background-color:#fff; color:#000 !important;}
.navbar-nav{float: right;margin: 0 35px 0 0;}
.dropdown-menu{ background:#d0060d;border-radius: 0; padding:0;border: none;min-width: 300px;}
.dropdown-menu li:hover{ background:#ca171f;}
.dropdown-menu li a{ color:#fff;font-size: 16px;}
.dropdown-menu li{border-bottom: 1px dotted #fff;}
.dropdown-menu li:last-child{ border:none !important;}
.navbar-default .navbar-brand {color: #fff;position: absolute;}
.navbar-default {background: rgba(0,0,0,0);width: 100%;padding: 0;}
.navbar-nav > li > a {padding-top: 25px;padding-bottom: 25px;}
.navbar-brand > img {width: 75%;}
.top-nav-collapse .navbar-brand > img {width: 73%;}
.topInfo .container-fluid, .subMenu .container-fluid{margin-right: 40px;}
.navbar-collapse.collapse .logoBox{ display: none;}
/******top section*********/
.subMenu {width: 100%; float: left; padding: 0; background: #d0060d;}
.topInfo {width: 100%;f ont-size: 16px; float: left; background: #fff; -webkit-transition:-webkit-transition: margin .7s ease-in-out; -moz-transition: margin .7s ease-in-out; transition: margin .7s ease-in-out}
.topInfo ul {margin: 0 0 30px 0;float: right; background:#f3f3f3; padding: 15px 40px; color:#00923f;border-bottom-left-radius: 20px;}
.topInfo li {list-style: none;float: left;margin: 0 50px 0 0; font-weight: 500;}
.topInfo li:last-child {margin: 0;}
.topInfo li span{ color:#00923f;margin-right: 8px;}
.topInfo .col-sm-5{ margin:0; padding:0;}
.topInfo a {color: #000; font-size: 16px; } 
.topInfo a:hover{color: #d0060d;}
.topInfo .col-sm-4{width: 39% !important; }
.topInfo .col-sm-6:last-child{ border-bottom:1px solid rgba(255,255,255,0.3)}
.topInfo .col-sm-2 {width: 10% !important; }
.more {position: absolute; top: 50px;right: -95px;}
.more  img{ width:70%;cursor: pointer;}
.modal-body h4{ line-height:35px; color:#337ab7;}
.topInfo .links  {margin: 10px 10px !important; text-transform: uppercase; font-weight: 600;}
.topInfo .links a {padding: 2px 2px; color: #828282;}
.logoBox{margin: 10px 0 10px 4%; position: absolute; top: 0;} 
#myCarousel img {width: 100%; height: auto; }
.carousel-caption h1 {color: #fff;font-weight: 600;text-transform: uppercase;margin: 0;line-height: 52px;font-size: 35px !important;}
.carousel-caption h2{color: #fff;font-weight: 300;}
.cloud {position: absolute;bottom: 0;z-index: 1;}
@media(min-width:767px) {
	
	
    .navbar {
        -webkit-transition: all .9s ease-in-out,padding .5s ease-in-out;
        -moz-transition: all .9s ease-in-out,padding .5s ease-in-out;
        transition: all .9s ease-in-out,padding .5s ease-in-out, width .5s ease-in-out;
    }
   /* .top-nav-collapse {
        padding: 0 3% ;
    }*/
	.top-nav-collapse .navbar-brand > img {
	width: 65%; -webkit-transition: all .9s ease-in-out,padding .5s ease-in-out;
        -moz-transition: all .9s ease-in-out,padding .5s ease-in-out;
        transition: all .9s ease-in-out,padding .5s ease-in-out, width .5s ease-in-out; 
}
	.top-nav-collapse .navbar-brand { min-width:80px; padding:10px 0;  -webkit-transition: all .9s ease-in-out,padding .5s ease-in-out;
        -moz-transition: all .9s ease-in-out,padding .5s ease-in-out;
        transition: all .9s ease-in-out,padding .5s ease-in-out, width .5s ease-in-out; }
	.top-nav-collapse .navbar-nav { -webkit-transition: all .9s ease-in-out,padding .5s ease-in-out;
        -moz-transition: all .9s ease-in-out,padding .5s ease-in-out;
        transition: all .9s ease-in-out,padding .5s ease-in-out, width .5s ease-in-out;  }
	.top-nav-collapse .topInfo { margin:-118px 0 0; }
	.top-nav-collapse .navbar-nav > li > a {padding-top: 25px;padding-bottom: 25px;}
	.top-nav-collapse {background: rgba(0,0,0,0.5) !important;}
	
	
 }


/********back to top***/
#back-to-top {cursor: pointer;position: fixed !important;bottom: 20px;right: 20px;z-index: 99 !important;background: #d0060d;padding: 10px 15px;border-radius: 10px;outline: none;border: none;}
/* Flexible Container---*/
.Flexible-container {position: relative; padding-bottom: 109%; height: 0; overflow: hidden; border: none; margin-bottom:0;}
.Flexible-container iframe, .Flexible-container object, .Flexible-container embed {position: absolute; width: 100%; top: 0; border: none; left: 0; width: 100%; height: 100%;}
.Flexible-container1 {position: relative; padding-bottom:44%; height: 0; overflow: hidden; border: none; margin-bottom:0; }
.Flexible-container1 iframe, .Flexible-container1 object, .Flexible-container1 embed {position: absolute; width: 100%;  border: none; top: 0; left: 0; width: 100%; height: 100%;}

/*-----------------------------------*/
/* Table Styles
/*-----------------------------------*/
table { width: 100%; border-collapse: collapse; background-color: #fff; }
tr:nth-of-type(odd) {  background: #f9f9f9; }
th { background: #3673ae; color: white; font-weight: bold; }
td, th {  padding: 6px 6px 6px 6px;  border: 1px solid #dbdbdb; }

/********* Welcome Section ******/
#welcomeSection {width: 100%; float: left; background: #fff; font-size: 18px; padding: 100px 0 80px 0;  color: #000; position: relative; line-height: 30px;}
#welcomeSection .container-fluid {width: 70%; float: left; margin: 0 15%}
#welcomeSection .col-md-7 {padding: 0 0 0 60px;}
#welcomeSection h1 {font-weight: 700;line-height: 37px;font-size: 35px;margin: 10px 0; text-transform: uppercase;}
#welcomeSection h1 span {display: block; font-size: 27px; font-weight: 300; color: #df0109;  text-transform: capitalize;}
#welcomeSection h5 {font-size: 20px;text-transform: uppercase;font-weight: 500;}
#welcomeSection h5 span{width: 17%;height: 1px;display: inline-block;background: #000;}
.readMore {background-color: #e3000f;border: none;color: #fff;text-align: center;font-size: 18px;padding: 12px 80px 12px 30px;cursor: pointer;display: inline-block;position: relative;transition: 0.5s;font-weight: 400; margin: 25px 0 0 0; }
.readMore .w1 {background: #fff;right: 16px;bottom: 47%;width: 25%;left: auto; position:absolute; height:1px;} 
 .readMore:hover{background-color: #64ab00;}
/*-------------what we do section----------------*/
.what-we-do {width: 100%;float: left; padding: 80px 0 60px 0;background: url(../images/productBg.jpg) repeat left top; text-align: center;}
.what-we-do h3{ font-size: 20px; font-weight:500;  padding: 0 0 50px 0; line-height: 40px; text-align:center;}
.what-we-do h3 span { font-size: 40px; font-weight:700; display: block; text-transform: uppercase; }
.what-we-do .container-fluid { width: 70%; margin: 0 15%; padding: 0px !important;} 
.how-we-do {width: 100%;float: left;}
#owl-example2 .owl-dot, #owl-example4 .owl-dot{display: none !important;}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{border-radius: 0; border:none; background:#e3000f;}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
	/* color: inherit; */
	font: inherit;
	color: #fff;
}
.groupIcon {position: absolute;left: 15px;bottom: 28%;}
.groupIcon a{background: #e3000f;padding: 10px;border-radius: 7px;color: #fff;margin: 0 10px; text-align: left;}
.groupIcon a:hover{ background:#f2f2f2; color:#000;}
.prodInfo {background: rgba(255,255,255,0.6);border-radius: 0;}
.prodInfo:hover .proDataCon{ background:#c00;}
.prodInfo:hover h3, .prodInfo:hover a{ color:#fff;}
.prodInfo p{ color:#000;padding: 0 40px 40px 40px; text-align: left;}
.prodInfo h3{ font-size: 18px; font-weight: 300;  padding: 20px 40px 10px 40px; line-height: 32px; text-align: left;}
.prodInfo h3 span { font-size: 18px; font-weight:600; display: block; text-transform: capitalize;}
.proDataCon a{ text-align:left;display: block;padding: 10px 0 20px 40px;position: relative; font-weight:600;}
.proImg img {width: 100%; height: auto;}
.processText .w1 {background: #fff;bottom: 40%;width: 25%;left: 48%; position:absolute; height:1px;}
#testimonials .col-sm-6 { margin:0; padding:0;}  

 
/*******testimonials*****/
#testimonials{ width:100%; float:left; position:relative; background: url(../images/packages.jpg) no-repeat left top; background-attachment: fixed; background-size: 100%; padding:120px 0 120px 0;}
#testimonials img {margin: 100px 0 0 0;}
#testimonials .howPatch {width: 100%;float: left;background: #f2f2f2; padding: 50px 50px 65px 50px; position: relative; line-height: 30px; }
#testimonials .howPatch h5{ color:#000; font-size:20px; position:relative; font-weight: 500;}
#testimonials .howPatch h2{ color:#000; font-size:30px; text-transform: uppercase; line-height:25px;margin: 10px 0; font-weight:700;}
#testimonials .howPatch h5 .w1 {background: #000;bottom: 30%;width: 20%;left: 20%; position:absolute; height:1px;}
#testimonials hr{ border-top:1px solid #d7d7d7;}
.howPatch img{ float:left;margin-right: 16px; width:auto !important;}
.howPatch h4{ color:#e3000f; font-size:18px; text-transform:capitalize;margin-top: 25px;line-height: 25px;}
.howPatch h4 span{color:#6d6d6d; font-size:15px; display:block;}
#testimonials .readMore {background-color: #65a200;border: none;color: #fff;text-align: center;font-size: 18px;padding: 12px 80px 12px 30px;cursor: pointer;display: inline-block;position: relative;transition: 0.5s;font-weight: 400; margin: 10px 0 0 0; }
#testimonials .howPatch img {margin: 0px 20px 0 0;}
#testimonials h3{ color:#fff; font-size: 50px; text-transform:capitalize; line-height:25px; text-transform: uppercase; opacity: 0.4; margin: 80px 0; font-weight:900; text-align: center;}
 #testimonials .readMore:hover{background-color:#d0060d;}

/*******Team*****/
#customersSec {width: 100%; float: left; background: url(../images/client.jpg) no-repeat left top; }
.teamCon {padding: 100px 0 100px 30%; line-height: 30px;}
#customersSec h4 {font-size: 30px; color: #000; font-weight: 800; margin: 0 0 20px 0; line-height: 40px;}  
#customersSec h5 {font-size: 23px; color: #000; font-weight: 500; margin: 0 0 10px 0;} 
#customersSec h5 .w1 {background: #000; width: 20%; left: 18%; position: absolute; height: 1px; top: 20px;}
.teamInfo {width: 100%; height: auto; border: 1px solid #e4e4e4; padding: 60px; background: #fff;} 
#customersSec .col-sm-6 {margin: 0px !important; padding: 0px !important;}
#customersSec img {width: 80%; height: auto;}


/******client*********/
#clientInfo {width: 100%;float: left;background: #fff;padding: 80px 0 95px 0;}
#clientInfo h2{ font-size: 20px; font-weight:500;  padding: 0 0 20px 0; line-height: 40px; text-align:center;}
#clientInfo h2 span { font-size: 40px; font-weight:700; display: block; text-transform: uppercase; }
.why{ width:100%; float:left; position:relative; padding: 25px 30px;background: #fff; margin-top:20px; box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.11); -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.11); -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.11); line-height: 25px; font-size: 15px;}
.why img{ float:left;}
.why h4{margin-left: 33%;font-weight: 400;font-family: 'Montserrat', sans-serif !important; line-height: 27px; font-size: 23px; font-weight:600; margin-top: 10px;}
 
 
/***testimonial********/
#testimonial{ width:100%; position:relative; padding: 120px 30px 80px 30px; background:url(../images/testi_bg.jpg) no-repeat left top; background-size:100% 100%; text-align:center; color:#003552;background-attachment: fixed; float: left; }
#testimonial h2{font-size: 35px;font-weight: 500;text-align: center;color: #000;text-transform: uppercase;margin: 0 0 0px 0;}
#testimonial .teamLine { width: 100%; float: left;  padding: 3px 0 0 0;  margin-top: -240px;}
#successSec {width: 100%; float: left; background: #fafafa; border-top: 1px solid #ededed; padding: 70px 0 120px 0; text-align: center;} 
#owl-example3 .owl-prev {position: absolute;left: -25px;top: 27%;} 
#owl-example3 .owl-next {position: absolute;right: -25px;top: 27%;} 
#successSec h3{ font-size: 20px; font-weight:500;  padding: 0 0 50px 0; line-height: 40px; text-align:center;}
#successSec h3 span { font-size: 40px; font-weight:700; display: block; text-transform: uppercase; }
#testimonial img {border: 6px solid rgba(255,255,255,0.5);}
#testimonial .owl-dots {display: none !important;}
#testimonial .readMore {background-color: #FFF;border: none;color: #000;text-align: center;font-size: 18px;padding: 15px 80px 15px 30px;cursor: pointer;display: inline-block;position: relative;transition: 0.5s;font-weight: 400; margin: 30px 0 20px 0; }
#testimonial .readMore .w1 {background: #000;right: 16px;bottom: 47%;width: 25%;left: auto; position:absolute; height:1px;}
#testimonial .readMore:hover{background-color:#d0060d; color:#fff;}
#testimonial .readMore:hover .w1{background: #fff;}

/***footer conatct****/
#contact{ width:100%; float:left; position:relative; background:#f8f8f8;}
.map{ width:33.33%; float:left; position:relative; }
.map:nth-child(1) { padding: 70px 70px;}
.map iframe{ width:100%; height:100%;}
.map h5 {color: #000;font-size: 20px;position: relative;}
.map h5 .w1 {background: #000;bottom: 30%;width: 15%;left: 20%;position: absolute;height: 1px;}
.map h2 {font-size: 23px; font-weight: 700;  display: block;  text-transform: uppercase; float: left; margin: 10px 0 20px 0;}
#calc input , #frm1 input, #form1 input{width: 100%; border:1px solid #e0e0e0;height: 40px;}
#help_all{ width:100%; float:left; position:relative; padding:0 0 60px 0;}
#form1 textarea{width: 100%; border:1px solid #e0e0e0;height: 100px;}
.submit_btn {background-color: #e14826;border: 0;border-radius: 0;color: #FFF;cursor: pointer;
display: block;float: left;font-size: 14px;margin: 10px 10px 0 0;padding: 8px 17px;
text-transform: uppercase;}
#form1 .submit_btn{ display:inline-block; width:30%;}
#form1 button, input, select, textarea {display: block;width: 100%;line-height: 24px;
height: 50px;font-size: 16px;box-shadow: none;background: transparent;padding: 12px 0;border-radius: 0px;transition: all 500ms ease;-webkit-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;margin: 5px 0; color:#494a4c; border: none; border-bottom: 1px solid #757575;}
#form1 textarea {height: 90px;}
.contact_info{ background:url(../images/con_bg.html) no-repeat left top rgba(0,0,0,0); background-attachment:fixed; padding:60px 30px;}
.con_blk{ width:100%; float:left; background:rgba(255,255,255,0.2) !important; padding:30px;min-height: 265px;}
.con_blk h3{font-size: 30px !important;font-weight: 400 !important;text-transform: none!important;color: #fff !important; text-transform:capitalize !important;}
.con_blk p, .con_blk a{ color:#ccc !important; text-align:left!important;}
.map_sec iframe{ width:100%; float:left; border:none; height:424px;}
.cont_form1{ width:100%; float:left; padding:60px 20px; border:2px solid #f1f1f1; margin:50px 0;}
.tWidth{width:100%; float:left; color: #000;}
.enquiryBtn {margin: 10px 0 0 0 !important; }
.textBox {width: 100% !important;height: 50px !important;background: #fafafa;border: 1px solid #d4d4d4;color: #4e4e4e;font-size: 16px;padding: 5px 25px;margin-bottom: 15px;}
.textBoxMulti {width: 100% !important; height: 100px !important; background: #fafafa;
border: 1px solid #d4d4d4; color:#000; font-size:16px; padding:5px 25px; margin: 0 0 10px 0;}
.contactForm .textBox, .contactForm .textBoxMulti{ color:#000 !important}
.tred{color:#C00;margin-top: -30px;}
#security_code {margin-top: 10px; background:#fafafa;border: 1px solid #d4d4d4;padding: 5px 25px;}
.subbtn {background:#d0060d!important; display:inline-block; padding: 15px 20px !important;  color:#fff; font-size: 17px; font-weight: 600; text-transform: uppercase;  text-decoration:none;  transition: all 1s; border:none !important; height: auto !important;text-align: left;width: auto !important; }
.subbtn:hover {background:#358c00 !important; color:#fff; }
.map_sec{ width:100%; float:left; position:relative;}
.map_sec iframe{ width:100%; height:450px;}
#newboxes3 .Flexible-container{padding-bottom: 35%;}
#footer{ width:100%; float:left; position:relative; background:url(../images/footer.jpg) repeat-x left top #276800;padding-bottom: 20px;}
.details{ width:65%; float:right;}
.mail{ background:#e14826; padding:30px 40px;}
.call_blk {width: 100%;background: #64ab00;padding: 20px 40px 20px 40px;margin-bottom: 20px;}
.copeRight{padding: 20px 40px 20px 0px;}
.call_blk i {font-size: 40px;color: #fff;margin-top: 25px;}
.copeRight h5, .call_blk h5 {color: #fff;font-size: 17px;line-height: 30px;font-weight: 600;}
.copeRight h5 span, .call_blk h5 span {display: block;font-weight: 300;font-size: 20px;}
.copeRight ul {padding: 0;margin: 0;}
.copeRight li {list-style: none;width: 50%;float: left;line-height: 45px;}
.copeRight a, .copeRight p, .call_blk p, .call_blk a {color: #fff;text-decoration: none;}
.copeRight .links {color: #fff;font-size: 14px;text-transform: uppercase;font-weight: 600; line-height: 70px; border-bottom: 1px solid #5d8e40; margin: 0 0 30px 0;}
.links a{margin: 0 5px; padding: 2px 6px;font-size: 20px; color: #a9c399; line-height: 30px;}
.links a:hover {color: #d0060d;}
.footerLogo {width: 35%; float: left; text-align: center; margin: 40px 0 0 0;}
 .weatherwidget-io {margin-top: 50px;}
.app {position: absolute;right: 0;bottom: 18px;}

/*******inner pages*******/
.inner_header{ width:100%; float:left; position:relative;}
.inner_header img{ width:100%;}
.all_data{ width:100%; float:left; position:relative; padding:60px 0;}
.all_data h2{border-bottom: solid 1px #e3e3e3;color: #000;text-transform: uppercase;background: url(../images/red-border.jpg) no-repeat left bottom;padding-bottom: 20px;margin-bottom: 30px;font-size: 30px;}
.all_data h2 span, .all_data strong{color: #e3010f;}
.mission{ width:100%; float:left; position:relative; padding:60px 0; background:url(../images/vision-bg.html) no-repeat left top; background-size:100% 100%;}
.vision{width: 100%;position: relative;padding: 20px 30px 30px 80px;background: rgba(0,0,0,0.5);}
.icon_blk {position: absolute;top: 25px;left: 0;background: #e3010f;padding: 13px;text-align: center;color: #fff;font-size: 26px;}
.vision h3 {color: #fff;}
.vision hr {border-top: 1px solid rgba(255,255,255,0.5);}
.vision p{ color:#fff;}
.vision ul{ margin:0; padding:0;}
.vision ul li{ color:#fff;background: rgba(255,255,255,0.3);padding: 10px 20px;list-style: none;}
.founder{ width:100%; float:left; position:relative; box-shadow:0 0 5px #ccc; padding:40px 30px;}
.live {overflow: hidden;}
.live > li {list-style: none;position: relative;
padding: 0 0 0 2em;margin: 0 0 .5em 10px;transition: .12s;font-size: 18px; width:100%; float:left}
.live > li::before {position: absolute;content: '\2022';
color: #FFF;top: 0;left: 0;text-align: center;font-size: 2em;opacity: .8;
line-height: .75;transition: .5s;}
.live > li:hover {color: #e3010f;}
.live > li:hover::before {transform: scale(2);opacity: 1;
text-shadow: 0 0 4px;transition: .1s;}
.live.type2 > li::before {content: '';width: 10px;height: 10px;background: #e3010f;border-radius: 3px;line-height: 0;top: .27em;left: 5px;}
.live.type2 > li:hover::before {transform: none;border-radius: 5px;width: 25px;left: -10px;background: #000;}
.dedcription-btn { width: 50%;position: relative;display: inline-block;border-radius: 30px; background-color: #fcfcfc;color: #e3010f;text-align: center;font-size: 18px; padding: 9px 0;transition: all 0.3s; padding-right: 40px; margin: 20px 5px; box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);}
.dedcription-btn .btn-icon { background-color: #e3010f;width: 92px; height: 45px; float: right; position: absolute; border-radius: 30px 30px 30px 0;; right: 0px;top: 0px; transition: all 0.3s;}
.name-descripeion { position: relative; z-index: 9999;}
.btn-icon::after { content: "";width: 0;height: 0; border-top: 45px solid #fcfcfc; border-right: 40px solid transparent; position: absolute; top: 0px;left: 0px;}
.dedcription-btn:hover .btn-icon {width: 100%; border-radius: 30px;}
.dedcription-btn:hover .btn-icon::after { display: none; opacity: 0.1;}
.btn-icon i {position: absolute;right: 25px;top: 15px;color: #fff;}
.dedcription-btn:hover {color: #fff!important;}
.hover-box {display: flex;width: 100%; height: 100vh;justify-content: center; align-items: center;}
#contact_inner .founder{background-color: #f5f5f5;}
.helpdesk {padding-left: 0px;padding-top: 49px;padding-right: 0px;}
.qualitybox {width: 100%;float: left;height: auto;padding: 35px 25px 25px 35px;background-image: url(../images/qulitycorner.html);background-position: left top;background-repeat: no-repeat;background-color: #000;color: #fff;margin-bottom: 20px;}
.addressicon {background-image: url(../images/addressIcon.png);}
.AddressRow {width: 100%;float: left;margin-bottom: 10px;padding-bottom: 10px;border-bottom: dotted 1px rgba(255,255,255,0.5);font-size: 13px;color: #fff;padding-left: 80px;padding-right: 20px;background-position: 25px 10px;background-repeat: no-repeat;background-size: auto;}
.phoneicon {background-image: url(../images/telephone.png);}
.emailicon {background-image: url(../images/email.png);}
.AddressRow:last-child {border-bottom: none;}
.AddressRow p, .AddressRow a{ color:#fff; font-size:17px;}
#contact_inner .enquiryBox  button, #contact_inner input, #contact_inner select, #contact_inner textarea {display: block;width: 100%;line-height: 24px; height: 10px; font-size: 16px;box-shadow: none;background: #f5f5f5; padding: 12px 0;border-radius: 0px;transition: all 500ms ease;-webkit-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;margin: 15px 0; color:#000; border: none; border-bottom: 1px solid #414244;}
#contact_inner textarea {height: 50px;}
#contact_inner .enquiryBtn {display: inline-block;}
#contact_inner .subbtn {background: #d70823 !important;display: inline-block;padding: 10px 30px !important;text-align: center;color: #fff;font-size: 17px;font-weight: 600;text-transform: uppercase;text-decoration: none;transition: all 1s;border: none; margin: 15px 0 0 0;height: 50px;}
#contact_inner .subbtn:hover{background:#000 !important;}
.founder hr{ border-top:2px dotted #ccc;}
.number{ font-size:50px; color:#e8ecef; font-weight:600;}
.founder h3{background: #e8ecef;color: #000;padding: 10px 20px;border-left: 2px solid #e3010f;margin: 8px 0;}
.founder h4{ color:#000; font-weight:700;}
.maps {width: 100%;position: relative;float: left;}
.Flexible-container iframe {width: 100%;border: none;}
.space{ width:100%; float:left; margin:20px 0;}
/**404pxge***/

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  animation: colorSlide 15s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}
.flex-container .text-center {
  text-align: center;
}
.flex-container .text-center h1,
.flex-container .text-center h3 {
  margin: 10px;
  cursor: default;
}
.flex-container .text-center h1 .fade-in,
.flex-container .text-center h3 .fade-in {
  animation: fadeIn 2s ease infinite;
}
.flex-container .text-center h1 {
  font-size: 8em;
  transition: font-size 200ms ease-in-out;
  border-bottom: 1px dashed white;
}
.flex-container .text-center h1 span#digit1 {
  animation-delay: 200ms;
}
.flex-container .text-center h1 span#digit2 {
  animation-delay: 300ms;
}
.flex-container .text-center h1 span#digit3 {
  animation-delay: 400ms;
}
.flex-container .text-center button {
  border: 1px solid white;
  background: transparent;
  outline: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  transition: background-color 200ms ease-in;
  margin: 20px 0;
}
.flex-container .text-center button:hover {
  background-color: white;
  color: #555;
  cursor: pointer;
}
.flex-container a{ color:#fff;}

@keyframes colorSlide {
  0% {
    background-color: #152a68;
  }
  25% {
    background-color: royalblue;
  }
  50% {
    background-color: seagreen;
  }
  75% {
    background-color: tomato;
  }
  100% {
    background-color: #152a68;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.list-type1 ol{
counter-reset: li;
list-style: none;
*list-style: decimal;
font-size: 15px;

padding: 0;
margin-bottom: 4em;
}
.list-type1 li{width: 46%;float: left;margin: 0 20px;}
.list-type1 ol ol{
margin: 0 0 0 2em;
}

.list-type1 a{
font-size: 16px;
position: relative;
display: block;
padding: .4em .4em .4em 2em;
*padding: .4em;
margin: .5em 0;
background: #d70823;
color: #fff;
text-decoration: none;
-moz-border-radius: .3em;
-webkit-border-radius: .3em;
border-radius: 10em;
transition: all .2s ease-in-out;
}
.list-type1{margin-top: -50px;}
.list-type1 a:hover{
background: #d6d4d4;
text-decoration:none;
transform: scale(1.1);
color:#000;
}

.list-type1 a:before{
line-height: 30px;
content: counter(li);
counter-increment: li;
position: absolute;
left: -1.3em;
top: 50%;
margin-top: -1.3em;
background:#000;
height: 40px;
width: 40px;
border: .3em solid #f1f1f1;
text-align: center;
font-weight: bold;
-moz-border-radius: 2em;
-webkit-border-radius: 2em;
border-radius: 2em;
color:#FFF;
}
.chairman h6{ font-size:30px;line-height: 30px}
.chairman h6 span{ font-size:19px; display:block; color:#e3000f ; margin:5px 0;}
.chairman img{ border:2px dotted #ccc; margin-left:30px;}
/************inner pageS***********/
#inner_header{width: 100%;position: relative;float: left;}
#inner_header img{ width:100%;}
.factorycrumbs-area { position: absolute; bottom: -35px; left: 0;text-align: center; width: 100%;z-index: 1;}
#factorycrumbs {background:#a0d348  none repeat scroll 0 0;color: #000;padding: 20px 40px;display: inline-block;min-width: 260px;font-size: 20px;font-weight: 600;}
#factorycrumbs a {color: #000;}
#factorycrumbs { position: relative;}
#factorycrumbs:before,
#factorycrumbs:after { border-bottom: 0 solid #005998;border-left: 15px solid #ffc300;border-top: 35px solid transparent;content: "";height: 0;position: absolute;right: -15px;top: 0;width: 0; z-index: 1;}
#factorycrumbs:before {border-right: 15px solid #a0d348;right: auto;left: -15px;border-left: none;}
#factorycrumbs:before,
#factorycrumbs:after {border-left-color: #a0d348;opacity: 0.8; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";}
.inner_data{ width:100%; float:left; position:relative; padding:80px 0; background:url(../images/abt_bg.jpg) repeat left top;}
.data{width: 100%;position: relative;background: url(../images/abt.jpg) no-repeat left top; background-attachment: scroll;padding: 80px 70px;background-attachment: fixed;color: rgba(255,255,255,0.8); float:left; background-size:100%; margin-bottom:30px;}
.data h2{ font-size:30px; color:#fff; text-transform:uppercase; margin-bottom:30px; text-align:center;}
.data p{ color:#fff;  line-height:30px; font-weight:400; text-align:center; }
.inner_data h3 {background: rgba(208,6,13,0.8);padding: 10px 30px;border-left: 5px solid #ad0107;display: inline-block;color: #fff;margin: 20px 0;}
.addressInfo{width: 100%; float: left; border: 1px solid #ccc; border-left: 2px solid #d0060d; padding: 30px 30px; background:#fff;}
.addressInfo hr {border-top: 1px solid #999;}
.addressInfo h4 {color: #d0060d;font-size: 20px; margin:10px 0;}
#form_sec{ width:100%; float:left; position:relative; padding:50px 0;}
#form_sec .tWidth{width:100%; float:left; color: #fff;}
#form_sec .enquiryBtn {margin: 10px 0 0 0 !important; text-align: left;}
#form_sec .textBox {width: 100% !important;height: 50px !important;background: #f7f7f7;border: 1px solid #f7f7f7;color: #000;font-size: 16px;padding: 5px 25px;margin-bottom: 15px;}
#form_sec .textBoxMulti {width: 100% !important; height: 100px !important; background: #f7f7f7;border: 1px solid #f7f7f7; color:#000; font-size:16px; padding:5px 25px; margin: 0 0 10px 0;}
.addressInfo a, .addressInfo p{ color:#000 !important;}
#form_sec .textBox, .#form_sec .textBoxMulti{ color:#000 !important}
#form_sec .tred{color: #000;margin-bottom: 10px;}
#security_code {margin-top: 10px;}
#form_sec .subbtn {background:#d0060d !important; display:inline-block; padding: 10px 40px !important;color:#fff; font-size: 17px; font-weight: 600; text-transform: uppercase;  text-decoration:none;  transition: all 1s; border:none }
#form_sec .subbtn:hover {background:#a90006 !important; color:#fff; }
#form_sec .details .enquiryBtn {margin: 10px 0 0 -15px !important;}
::placeholder {color: #000; font-size: 14px;}
.expert{ width:100%; float:left; position:relative; padding:20px 50px; background:#fff;margin: 10px 0;box-shadow: 0 0 8px #ccc;}
.expert img{ float:right; border:1px solid #d9a205;margin-left: 20px;}
.expert h4{color:#000; font-size:22px; margin:5px 0; text-transform:uppercase; font-weight:600;}
.expert h5{color:#a90006; font-size:16px; margin:10px 0;font-weight:500;}
.expert p{ color:#777;line-height: 32px;}
.box-values {text-align:center;/*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;*/}
#pro_sec h3{background: #d0060d;margin: 0;padding: 10px 12px;font-size: 16px;text-align: center;line-height: 30px; color:#fff;box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; border: none;width: 100%;}
.box-values img{ width:100%; text-align:center; margin:0 auto;}
#pro_sec h4{ font-size: 18px;color: #c00;text-transform: capitalize;background: #fff;padding: 15px 0;text-align: center;border-top: 2px dotted #ccc; margin-bottom:20px;}
#pro_sec h4 a{ display:block;}
#pro_sec .panel-body {padding: 30px 40px;border-bottom: 2px solid #c00;}
.listing2 {overflow: hidden;}
.listing2 > li {list-style: none;position: relative;
padding: 0 0 0 2em;margin: 0 0 .5em 10px;transition: .12s;font-size: 16px;}
.listing2 > li::before {position: absolute;content: '\2022';
color: #FFF;top: 0;left: 0;text-align: center;font-size: 2em;opacity: .8;
line-height: .75;transition: .5s;}
/*.listing2 > li:hover {color: #fb7262;}*/
.listing2 > li:hover::before {transform: scale(2);opacity: 1;
text-shadow: 0 0 4px;transition: .1s;}
.listing2 > li::before {content: '';width: 10px;height: 10px;background: #fb7462;border-radius: 3px;line-height: 0;top: .27em;left: 5px;}
.listing2 > li:hover::before {transform: none;border-radius: 5px;width: 25px;left: -10px;background: #000;}
#pro_sec h6{ font-size:16px; color:#000; text-transform:capitalize;margin: 5px 0;}
#pro_sec h2{font-size:18px; color:#276800; text-transform:capitalize;margin: 10px 0;border-bottom: 2px dotted #ccc;
padding-bottom: 13px;font-weight: 600;}
.panel-body .hvrbox{box-shadow: 0 0 5px #eaeaea;}
.panel-heading.active {
  background-color: #809fff;}
/*********resposnive*******/
@media (min-width: 1500px) {
.topInfo .col-sm-4 {width: 35% !important;}
.topInfo .col-sm-2 {width: 15% !important;}
}
@media (min-width: 1500px) { 
.topInfo .col-sm-4 {width: 30% !important;}
.topInfo .col-sm-2 {width: 20% !important;}

}
@media (max-width: 1500px) { 
.topInfo .col-sm-4 {width: 30% !important;}
.topInfo .col-sm-2 {width: 20% !important;}
.navbar-brand > img {width: 70%;}
.logoBox{margin: 0;}
.nav>li>a{padding: 20px 10px;}

}

@media (max-width: 1300px) {
.navbar-nav > li > a {padding: 20px 20px !important;}
.topInfo .col-sm-6 {width: 40% !important;}
.topInfo .col-sm-4 {width: 40% !important;}
.topInfo .col-sm-2 {width: 20% !important;}
.nav > li > a{font-size: 12px;}
.navbar-brand > img {width: 45%;}
.top-nav-collapse .navbar-brand > img{width: 50%;}
.topInfo .col-sm-8{ float:right;}
.more {right: -40px;}
.logoBox img{width: 85%;}
.cloud{bottom: -1px;}

}
@media (max-width: 1220px) {
.container{width:94%;}
.navbar-nav > li > a {padding: 20px 15px !important; font-size: 15px;}
.prodInfo p{font-size: 13px;}
.carousel-caption h1{font-size: 20px !important;}
.left.carousel-control, .right.carousel-control{bottom: 10%;}
.navbar-nav > li > a {padding: 20px 12px !important;font-size: 14px;}
#myCarousel .glyphicon {top: -10px;left: -10px;}
#welcomeSection h1{font-size: 30px;}
.readMore{font-size: 16px;}
.prodInfo p {font-size: 12px;}
.how-we-do .howPatch h5 .w1{left: 35%;}
.whyChoose-section h5 .w1{left: 20%;}
.enquiryBox h5 .w1{left: 17%;}
.processText .w1{left: 65%;}
.dedcription-btn{width: 60%;}
.qualitybox{padding: 35px 5px 25px 5px;}
.AddressRow{padding-left: 67px;}
.AddressRow p, .AddressRow a {color: #fff;font-size: 15px;}
.navbar-nav > li > a {padding: 20px 10px !important;font-size: 13px;}
.more  img { width: 60%; cursor: pointer;}
.topInfo .container-fluid, .subMenu .container-fluid {  margin-right: 15px;}
.carousel-indicators{bottom: 92px;}
.more {right: 50%;top: 0;}
#welcomeSection .container-fluid {width: 90%;float: left;margin: 0 5%;}
#pro_sec h3{font-size: 14px;}
}
@media (max-width: 1000px) {
.navbar-nav > li > a {padding: 15px 10px !important; font-size: 14px;}
.logoBox img {width: 100%; height: auto;}
.topInfo .col-sm-6 {width: 30% !important;}
.topInfo .col-sm-4 {width: 45% !important;}
.topInfo .col-sm-2 {width: 25% !important;}
.navbar-nav > li > a{font-size: 11px;}
#welcomeSection .col-sm-6, .processText, .processSec{ width:100%;}
.processText .w1 {left: 16%;}
#owl-example2 {margin-left: 0;}
.how-we-do .howPatch{width: 70%;}
.whyInfo{padding: 25px;}
#testimonials .howPatch{padding: 30px;} 
.whatsapp{left: 0;}
.copeRight{padding: 0 40px;}
.dedcription-btn{width: 70%;}
#contact_inner .col-sm-8, #contact_inner .col-sm-4{ width:100%;}
.qualitybox {padding: 35px 5px 25px 5px;margin-top: 30px;}
.AddressRow {padding-left: 80px;}
.logoBox img { width: 90%;height: auto;}
#welcomeSection{padding: 60px 0 80px 0;}
#testimonials h3{font-size: 40px;line-height: 5px;}
.teamCon {padding: 50px 0 74px 10%;line-height: 30px;}
#customersSec h4{font-size: 25px;}
#customersSec h5 .w1{left: 26%;}
.map:nth-child(1) {padding: 70px 40px;}
.map h5 .w1{left: 27%;}
.map h2{font-size: 18px;}
.details {width: 100%;float: right;}
.footerLogo{ display:none;}

} 
@media (max-width: 950px) {

.navbar-nav > li > a {padding: 15px 7px !important; font-size: 13px;}
.more {font-size: 11px;}
.noCont { font-size: 14px !important;}
.navbar-nav > li > a {padding: 15px 7px !important;font-size: 10px;}
.left.carousel-control, .right.carousel-control {display: none;}
#testimonials .col-sm-7, #testimonials .col-sm-5 {margin: 0;padding: 0;width: 100%;}
#testimonials .howPatch{right: auto;top: 40px; position:relative;}
#testimonials{padding: 80px 0;}
#testimonials .howPatch h5 .w1{left: 13%;}
.copeRight li{ width:50%;}
.navbar-brand{padding: 5px 15px;}
#welcomeSection .container-fluid {width: 90%;float: left;margin: 0 5%;}
.whyInfo h3{font-size: 17px;}
.visionPatch h2{font-size: 40px;}
.visionPatch .row {margin: 0 0%;}
.navbar-nav > li > a { padding: 15px 7px !important;font-size: 13px;}
.carousel-caption h2{font-size: 18px;}
.more {right: 63%;top: 0;}
.topInfo ul{margin: 0 0 0 0;}
.logoBox img { width: 70%; height: auto;}
.carousel-indicators { bottom: 78px;}
#testimonials{background-size: 100% 100%;}
#customersSec h4 {font-size: 22px;}
#pro_sec h3{padding: 10px 8px;font-size: 13px;}
#pro_sec h3 {padding: 10px 8px;font-size: 16px;margin-bottom: 15px;}
.call_blk i {font-size: 40px;color: #fff;margin-top: -4px;}
.addressInfo{padding: 30px 20px;}
.addressInfo a {word-wrap: break-word;}
.Flexible-container1{padding-bottom:78%;width: 100%;}
.addressInfo {padding: 30px 20px;margin-bottom: 30px;}
.box-values img{ display:none;}
#accordion .col-xs-12.col-sm-6.col-md-3, #accordion .col-xs-6.col-sm-6.col-md-3{ width:25% !important;}
#pro_sec h4{font-size: 16px;}
}
@media (max-width: 799px) {

.groupIcon {position: absolute;left: 15px;bottom: 15%;}
.processText .w1 {left: 20%;}
.how-we-do .howPatch{padding: 30px;}
.dedcription-btn {width: 100%;}
.navbar-nav {float: right;margin: 0 0 0 0;}
.data{background-size: 100% 100%;}
.data h2{font-size: 22px;}
.factorycrumbs-area{bottom: -17px;}
#factorycrumbs {font-size: 18px;}
.expert img {float: none;border: 1px solid #d9a205;margin-left: 0;margin-bottom: 20px;}
}

@media (max-width: 767px) {
/******** start toggle***********/
.navbar-inverse { background:#fff}
.navbar-toggle { margin-top: 0px; cursor:pointer;background: #000;}
.navbar-header { width:100%;}
.navbar-brand {width: 25%;top:6px;}
.navbar-wrapper .container { width:100%; padding:0}
.nav-top .container { padding:0 30px}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { position:absolute; width:100%; padding:0; background:#004588}
.navbar-nav { margin:0}
.navbar-nav > li > a {border-bottom: 1px solid rgba(255,255,255,0.4);font-size: 15px;font-weight: normal;padding: 10px 20px;color:#000}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover { background:#fff}
.navbar-inverse .navbar-toggle { border:0}
.carousel-caption { display:none;} 
.bar1, .bar2, .bar3 { width: 35px; height: 4px; background-color: #d30000; margin: 5px 0; transition: 0.4s;}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:hover { color:#fff}
.navbar-nav > li > .dropdown-menu { background: #ccc none repeat scroll 0 0; border: 0 none; border-top-left-radius: 0; border-top-right-radius: 0;box-shadow: none;clear: both; margin-top: 0;position: relative;width: 100%;} 
.dropdown-menu > li > a { clear: both; color: #000;display: block;font-weight: 400;line-height: 1.42857; padding: 7px 39px;
text-transform:uppercase; font-size:14px;border-bottom:solid 1px rgba(255,255,255,0.2); white-space: nowrap;}
.navbar-nav .open .dropdown-menu > li > a {line-height: 20px;color: #000 !important;}
.nav>li {position: relative; display: block;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: #fff !important;
}
.nav>li:hover {background: #d30000;}

/******** end toggle***********/
.navbar-nav > li:last-child {display: none;}
.footer_blk {text-align: center;}
.col-sm-5.col-md-5.wow.slideInRight.footerlinks.animated {text-align: center;}
.footerInfo .col-sm-6 {width: 50%;float: left;}
.location {background: #fff;}
.mail {position: relative;}
.navbar-fixed-bottom, .navbar-fixed-top{position: relative;}
.navbar-nav {float: right;width: 100%;}
.navbar-default .navbar-nav > li > a {color: #fff !important;}
.navbar-nav > li > a {padding: 10px 15px !important;}
.howImage{width: 100%;}
.howBlank{padding: 0;}
.how-we-do .howPatch {width: 100%;left: 0;right: 0;}
.visionPatch h3{text-align: center;margin: 15px;}
.right_txt {text-align: left;}
#testimonials .howPatch h5 .w1 {left: 17%;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color: transparent;}
#abt img{ margin:0 auto 30px;}
.chairman  img {margin: 0 auto;text-align: center;float: none !important;}
.all_data h2{font-size: 22px;}
.list-type1 li {width: 100%;}
.more { right: 70%;top: 0;}
.subMenu { position: absolute; top: 100%;}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
   margin-right: 0;margin-left: 0;}
.why h4{margin-left: 18%;font-size: 23px;}
#clientInfo {padding: 80px 0 70px 0;}
#testimonials img {margin: 100px 0 0 0;width: 100%;}
.map {width: 100%;}
.map img{ display:none;}
.map h5 .w1 {left: 11%;}
.footerLogo {display: none;}
.details {width: 100%;float: right;}
.copeRight .pull-right{float: left !important;}
.map .Flexible-container{padding-bottom: 55%;}
.call_blk i{margin-top: 10px;}
#customersSec .col-sm-6 {width: 100%;}
#customersSec .col-sm-6 img{ display:none;}
.teamCon {padding: 50px 50px;line-height: 30px;}
#customersSec h5 .w1 {left: 20%;}
.factorycrumbs-area {bottom: -69px;}
#factorycrumbs{background: transparent;}
#factorycrumbs::before, #factorycrumbs::after{ border:none;}
}
@media (max-width: 700px) {
.navbar-brand {width: 28%;}
.topInfo a, .links a{font-size: 15px;}
.topInfo .links{font-size: 14px;}
#customersSec h4 {font-size: 19px;}
#factorycrumbs{font-size: 18px;}


}

@media (max-width: 630px) {
.topInfo .col-sm-6 {width: 40% !important; }
#testimonials h3{font-size: 28px;}
img.img-responsive.app {
    width: 150px;
    position: relative;
}
.container{width: 100%}
.inner_data{overflow: hidden;
          float: none;
  }
  body{
    max-width: 100%;
  }
.topInfo .col-sm-2 {width: 60% !important; float: right;}
.processText .w1 {left: 30%;}
.groupIcon {position: absolute;left: 15px;bottom: 23%;}
.whyChoose-section h5 .w1 {left: 40%;}
#testimonials .howPatch h5 .w1 {left: 23%;}
.enquiryBox h5 .w1 {left: 22%;}
.enquiryBox{padding: 55px 40px 40px 40px;}
.more { right: 75%; top: 0;}
.more  img {width: 50%;cursor: pointer;}
.carousel-indicators { bottom: 60px;}
.data{padding: 70px 40px;}
.data h2 {font-size: 18px;}
.topInfo ul{padding: 15px 30px;}
#accordion .col-xs-12.col-sm-6.col-md-3, #accordion .col-xs-6.col-sm-6.col-md-3 {width: 50% !important;}
}
@media (max-width: 550px) {
.navbar-brand > img {width: 65%;}
#welcomeSection h1 {font-size: 25px;}
.carousel-caption {display: none;}
.visionPatch h3{font-size: 35px;}
.vision h3 {color: #fff;font-size: 17px;}
.chairman h6 {font-size: 25px;line-height: 30px;}
.topInfo .links { font-size: 14px; display: none;}
.topInfo a, .links a {font-size: 13px;}
.logoBox { margin: 0; z-index: 99;}
.more {right: -13%; top: 2px; display:none;}
.topInfo ul{padding: 10px 33px;}
#welcomeSection{padding: 50px 0 80px 0;}
.what-we-do h3 span{font-size: 30px;}
#testimonials .howPatch h2{font-size: 22px;}
#clientInfo h2 span{font-size: 30px;}
#successSec h3 span{font-size: 30px;}
.copeRight {padding: 0 40px;}
#pro_sec .panel-body {padding: 30px 10px;border-bottom: 2px solid #c00;}
}
@media (max-width: 490px) {
.groupIcon {position: absolute;left: 15px;bottom: 27%;}
#welcomeSection h1 {font-size: 20px;line-height: 30px;}
.processText .w1 {left: 45%;}
#testimonials .howPatch h5 .w1 {left: 32%;}
.dedcription-btn{font-size: 14px;}	
.logoBox img { width:80%; height: auto;}
.topInfo ul { padding: 15px 22px;}
.more {right: -20%; top: 2px;}
.carousel-indicators { bottom: 45px;}
.topInfo li:last-child {  margin: 0; display: none;}
.topInfo ul{background: transparent; display:none;}
.logoBox img { width: 67%; height: auto;}
.more {right: -14%;top: 155px;z-index: 0;}
.cloud {  bottom: -3px;}
.logoBox img {width: 50%;height: auto;}
#welcomeSection .col-md-7 {padding: 0 0 0 20px;}
.why h4 {margin-left: 28%;font-size: 23px;}
.map h5 .w1 {left: 18%;}
#welcomeSection h1 span{font-size: 25px;}
.data {padding: 50px 40px;}
.inner_data{padding: 50px 0;}
.inner_data h3{font-size: 15px;}
.data h2 {font-size: 16px;}
.factorycrumbs-area {bottom: -58px;}
.expert h4{font-size: 18px;}
.expert{padding: 20px 20px;}
}
@media (max-width: 450px) {
.navbar-brand > img {width: 95%;}
.groupIcon {bottom: 35%;}
.enquiryBox h4{font-size: 30px;}
.enquiryBox h5 .w1 {left: 27%;}
.copeRight li {width: 100%;}
.chairman h6 {font-size: 20px;line-height: 30px;}
.chairman h6 span{font-size: 16px;}
.all_data h2 {font-size: 18px;}
.founder{padding: 40px 15px;}
.founder h3{font-size: 16px;}
.dedcription-btn {font-size: 12px;}
.AddressRow {padding-left: 49px;}
.AddressRow{background-position: 12px 9px;}
.logoBox img {width: 65%;  height: auto;}
.carousel-indicators {display: none;}
.more {right: -14%;top: 129px;z-index: 0;}
.what-we-do h3 span {font-size: 20px;}
.expert h4{font-size: 16px;}
	}
@media (max-width: 397px) {
.processText .w1 {left: 67%;}	
.whatSection{padding: 60px 20px 30px 20px;}
.how-we-do .howPatch h5 .w1 {left: 43%;}
.enquiryBox h4 {font-size: 25px;}
#welcomeSection h1 span {font-size: 20px;}
.what-we-do{padding: 50px 0 50px 0;}
#testimonials {padding: 40px 0;}
#customersSec h5 .w1 {left: 38%;}
.teamInfo{padding: 60px 20px;}
.teamCon {padding: 50px 30px;line-height: 30px;}
#testimonial{padding: 80px 30px 40px 30px;}
.map:nth-child(1) {padding: 70px 30px;}
.map h5 .w1 {left: 22%;}
.why h4 {margin-left: 28%;font-size: 20px;}
.copeRight a, .call_blk a {word-wrap: break-word;}
#pro_sec h4 {font-size: 12px;}
}
@media (max-width: 350px) {
#welcomeSection h1 span {font-size: 18px;}	
	
#customersSec h4 {font-size: 18px;}
#clientInfo {padding: 40px 0 70px 0;}
#successSec{padding: 30px 0 120px 0;}
#clientInfo h2 span {font-size: 22px;}
#customersSec h4 {font-size: 16px;}	
.expert h4{font-size: 13px;}	
.expert h5{font-size: 14px;}
.listing2 > li{margin: 0 0 .5em 0;}
#pro_sec h2{font-size: 16px;}
		}
q {quotes: "“" "”";}